.descripcion {
    background-color: #33FFE8;
    width: auto;
    height: auto;
    position: relative;
    padding-top: 1%;
    padding-left: 2%;
}

img {
    width: 100%;
    width: 1400px;
    height: 250px;
    background-size: cover;
}

h1 {
    border: 0.6rem outset rgb(246, 246, 247);
    font-family: serif;
    color: aliceblue;
    text-align: center;
    background-color: rgb(16, 19, 61);
    width: 84rem;
}

h2,
h3,
h4 {
    color: steelblue;
    font-family: cursive;
}

p {
    text-align: center;
    padding: 4px;
    color: rgb(250, 248, 248);
    background-color: rgb(4, 2, 37);
    text-transform: uppercase;
}

img.logo {
    width: 120px;
    height: 100px;
    margin: 1%;
}

nav {
    /*Bordes redondeados*/
    -webkit-border-radius: 10px;
    /*Para chrome y Safari*/
    -moz-border-radius: 10px;
    /*Para Firefox*/
    -o-border-radius: 10px;
    /*Para Opera*/
    border-radius: 10px;
    /*El estandar por defecto*/
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(161, 226, 161)), to(#8bcceb));
    /*Para chrome y Safari*/
    /*Degradados*/
    background-image: -moz-linear-gradient(top center, #FFF, #8bcceb);
    /*Para Firefox*/
    background-image: -o-linear-gradient(top, #FFF, #8bcceb);
    /*Para Opera*/
    background-image: linear-gradient(top, #FFF, #8bcceb);
    /*El estandar por defecto*/
    overflow: hidden;
    padding: 5px;
    width: 100%;
}

nav ul {
    list-style: none;
    margin: 0 10px 0 10px;
    padding: 0;
}

nav ul li {
    /*Bordes redondeados*/
    -webkit-border-radius: 5px;
    /*Chrome y Safari*/
    -moz-border-radius: 5px;
    /*Firefox*/
    -o-border-radius: 5px;
    /*Opera*/
    border-radius: 5px;
    /*Estandar por defecto*/
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
    margin-right: 5px;
    text-align: center;
    /*Sombras para texto, los mismos parametros que box-shadow*/
    text-shadow: 0px 1px 0px #FFF;
}

nav ul li:hover {
    /*Degradado de fondo*/
    background-image: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#E3E3E3));
    /*Chrome y Safari*/
    background-image: -moz-linear-gradient(top center, #FFF, #E3E3E3);
    /*Firefox*/
    background-image: -o-linear-gradient(top, #FFF, #E3E3E3);
    /*Opera*/
    background-image: linear-gradient(top, #FFF, #E3E3E3);
    /*Estandar por defecto*/
    /*Sombras*/
    -webkit-box-shadow: 1px -1px 0px #999;
    /*Chrome y Safari*/
    -moz-box-shadow: 1px -1px 0px #999;
    /*Firefox*/
    -o-box-shadow: 1px -1px 0px #999;
    /*Opera*/
    box-shadow: 1px -1px 0px #999;
    /*Estandar por defecto*/
    border: 1px solid #E3E3E3;
}

nav ul li a {
    color: #999;
    display: block;
    padding: 5px;
    text-decoration: none;
    /*Transiciones*/
    -webkit-transition: 0.4s linear all;
    -moz-transition: 0.4s linear all;
    -o-transition: 0.4s linear all;
    transition: 0.4s linear all;
}

nav ul li a:hover {
    color: #000;
}

b.detalle{
    color: orange;
    font-family: 'Times New Roman', Times, serif;
}

.anuncio{
    font-family: sans-serif;
    font-size: 18px;
    margin: 3%;
}