/*Datos generales*/

* {
    font-family: 'Anton', sans-serif;
    margin: 1rem;
}

.fondo {
    background-image: url("/img/fondo.jpg");
}

h1 {
    border: 0.6rem outset rgb(246, 246, 247);
    font-family: serif;
    color: aliceblue;
    text-align: center;
    background-color: rgb(16, 19, 61);
    width: 80rem;
}

h2,
h3,
h4,
h5,
ul {
    color: rgb(218, 218, 218);
}

h3{
    color: seagreen;
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
    border: 0.4rem outset rgb(251, 251, 252);
    text-align: center;
    background-color: rgb(5, 8, 32);
    width: 15rem;
}

h4 {
    border: 0.3rem outset rgb(8, 8, 8);
    color: black;
    text-align: justify;
    background-color: rgb(156, 162, 231);
    width: 35rem;
}


/*head*/

.navegacion a {
    color: white;
    background-color: rgb(6, 7, 34);
    margin: 0.4;
    text-decoration: none;
    text-transform: uppercase;
}

.navegacion.a:hover {
    color: whitesmoke;
    background-color: black;
}

img {
    width: 10rem;
}


/*main*/

.principal {
    display: flex;
    text-align: center;
    margin: auto;
}

.principal2 {
    display: flex;
    background-color: #33FFE8	 ;
    text-align: center;
}

.formularios {
    display: flex;
    text-align: center;
    margin: auto;
}

.descripcion{
    background-color: #33FFE8;
    width: auto;
    height: auto;
    position: relative;
    padding-top: 1%;
    padding-left: 2%;
    
}

img{
    width: 100%;
    height: 100%;
}

.botones{
    font-size: 10px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    background-color: rgba(0,0,0,.7);
    text-align: center;
    font-weight: bold;
    position: absolute;
    color: #fff;
    box-shadow: 0 0 5px rgba(255,255,255,.6);  

}

.botones:hover{
    cursor: pointer;
    transform: scale(1.2,1.2);
}
.atras{
    left: 2%;
    top: calc(50% - 30px);
}

.adelante{
    right: 2%;
    top: calc(50% - 30px);
}

.contenedor{
    background-color: #33FFE8;
    width: 390px;
    height: 300px;
    position: relative;
    padding-top: 1%;
    
}

.contenedor2{
    background-color: #33FFE8;
    width: 390px;
    height: 300px;
    position: relative;
    padding-top: 1%;
    
}

.contenedor3{
    background-color: #33FFE8;
    width: 390px;
    height: 300px;
    position: relative;
    padding-top: 1%;
    
}

.contenedor4{
    background-color:#33FFE8;
    width: 390px;
    height: 300px;
    position: relative;
    padding-top: 1%;
    
}

.contenedor5{
    background-color:#33FFE8;
    width: 390px;
    height: 300px;
    position: relative;
    padding-top: 1%;
    
}

.contenedor6{
    background-color: #33FFE8;
    width: 390px;
    height: 300px;
    position: relative;
    padding-top: 1%;
    
}

.contenedor7{
    background-color: #33FFE8;
    width: 390px;
    height: 300px;
    position: relative;
    padding-top: 1%;
    
}

.contenedor8{
    background-color: #33FFE8;
    width: 390px;
    height: 300px;
    position: relative;
    padding-top: 1%;
    
}

.contenedor9{
    background-color: #33FFE8;
    width: 390px;
    height: 300px;
    position: relative;
    padding-top: 1%;
    
}

.contenedor10{
    background-color: #33FFE8;
    width: 390px;
    height: 300px;
    position: relative;
    padding-top: 1%;
    
}


/*section*/


/*footer*/